/* General Styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1, h2 {
  color: #333;
  text-align: center;
}

a {
  text-decoration: none;
  color: #007bff;
}

a:hover {
  text-decoration: underline;
}

#main-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 1200px;
  margin: 40px auto;
  text-align: center;
}

form {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 100%;
  margin: 20px auto;
}

label {
  display: block;
  margin: 10px 0 5px;
  color: #555;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: calc(100% - 20px);
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

button {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #0056b3;
}

/* Admin Dashboard Styles */
#main-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 1200px;
  margin: 40px auto;
}

.small-search-bar {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.small-search-bar input[type="text"] {
  width: 300px;
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.small-search-bar button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

.small-search-bar button:hover {
  background-color: #0056b3;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
}

th, td {
  padding: 15px;
  border: 1px solid #ddd;
  text-align: left;
}

th {
  background-color: #18375a;
  color: #fff;
  text-align: center;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #e9ecef;
}

td {
  text-align: center;
}

.update-icon,
.delete-icon {
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  margin: 0 5px;
}

.update-icon {
  background-color: #28a745;
}

.delete-icon {
  background-color: #dc3545;
}

.update-icon:hover {
  background-color: #218838;
}

.delete-icon:hover {
  background-color: #c82333;
}

.admindash {
  color: #18375a;
  font-weight: bolder;
}
.logoutbtn1{
  background: #ff0000;
}